@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.slick-slide > div {
    margin: 0 10px;
}


@media (min-width: 0px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        border: #FF343F;

        .navbar {
            height: 5%;
            width: 100%;
            margin: 0 0 0 0;
            padding: 10px 5px 10px 5px;
            background: black;

            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                margin: 0 0 0 0;
                padding: 5px 10px 5px 10px;

                li {
                    list-style: none;
                }

                .firstList {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    width: 100%;

                    img {
                        max-width: 10%;
                    }

                    input {
                        outline: none;
                        border: none;
                        border-radius: 15px;
                        padding: 7px 18px 7px 18px;
                        color: #ffffff;
                        background-color: #515151;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                    }

                    input::placeholder {
                        color: #bcbcbc;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                    }
                }

                .secondList {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    gap: 20px;

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    button {
                        outline: none;
                        border: none;
                        border-radius: 15px;
                        padding: 7px 20px 7px 20px;
                        color: #ffffff;
                        background-color: #FF343F;
                        cursor: pointer;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                    }
                }
            }
        }

        .sectionHeader {
            width: 100%;
            text-align: center;
            padding: 3em 0;
        }
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: 50px;
        border-bottom: solid;
        border-color: #bcbcbc;
        padding: 50px;

        .main-section-one {
            display: flex;
            flex-direction: column;
            margin: 48px 8% 0px 8%;
            gap: 15px;

            .section-one-title {
                color: #FF343F;
                font-weight: 700;
            }

            .section-one-article {
                width: 600px;
                max-width: 100%;
                font-weight: 500;
            }
        }

        .main-section-two {
            display: flex;
            flex-direction: column;
            color: white;

            .section-content-one {
                margin: 0px 8%;
                color: #FF343F;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .section-sub-content {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 5px;
                    cursor: pointer;

                    img {
                        width: 20px;
                        max-width: 20px;
                    }
                }

                button {
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    padding: 7px 20px 7px 20px;
                    color: #ffffff;
                    background-color: #FF343F;
                    cursor: pointer;
                    font-weight: 700;
                    width: 150px;
                }
            }

            .section-content-two {
                width: 87%;
                max-width: 87%;
                margin: auto;

                // PENTING!!!
                .slick-prev:before, .slick-next:before {
                    color: #000000;
                }

                .slider-container {
                    margin-top: 2rem;

                    .card {
                        background-color: #ffffff;
                        width: 450px;
                        height: 450px;
                        border: solid;
                        border-color: #000000;
                        border-radius: 0.75rem; // 12px
                        color: rgb(255, 255, 255);
                    
                        .card-image-container {
                            height: 14rem; // 224px
                            // border-top-left-radius: 0.75rem;
                            // border-top-right-radius: 0.75rem;
                            background-color: #000000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
        
                            .card-image {
                                height: 10rem; // 176px
                                width: 10rem;
                                border-radius: 50%;
                            }
                        }
                    
                        .card-content {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 1rem; // 16px
                            padding: 1rem; // 16px
        
                            .card-title {
                                text-align: center;
                                font-size: 1.25rem; // 20px
                                font-weight: 600; // semi-bold
                                color: #000000; // blue-600
                            }
                        
                            .card-price {
                                text-align: center;
                                color: #000000; // blue-600
                            }

                            .card-unit {
                                text-align: center;
                                color: #000000; // blue-600
                            }
                        
                            .card-button {
                                background-color: #FF343F; // indigo-500
                                color: #ffffff; // blue-600
                                font-size: 1.125rem; // 18px
                                font-weight: 700;
                                padding: 0.25rem 1.5rem; // 6px 24px
                                border-radius: 0.75rem; // 12px
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            

            // ul {
            //     display: flex;
            //     list-style: none;
            //     background: #000000;

            //     li {
            //         display: inline-block;
            //         position: relative;

            //         a {
            //             display: block;
            //             padding: 20px 25px;
            //             color: #FFF;
            //             text-decoration: none;
            //             text-align: center;
            //             font-size: 20px;
            //         }

            //         a:hover {
            //             background: #112C66;
            //         }

            //         .dropdown {
            //             width: 100%;
            //             background: #22438C;
            //             position: absolute;
            //             z-index: 999;
            //             display: none;
            //         }

            //         .dropdown li {
            //             display: block;
            //         }
            //     }
            // }
            
            // li:hover {
            //     .dropdown {
            //         display: block;
            //     }
            // }
        }
    }

    .footer {
        margin: 50px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .footer-section-one {
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-bottom: solid;
            border-color: #bcbcbc;
            padding-bottom: 50px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 0px 8%;

                li {
                    list-style: none;
                }

                .main-footer-section-list {
                    font-size: 20px;
                    font-weight: 1000;
                }
            }

            .last-footer-section {
                margin-top: 10px;
                text-align: center;

                img {
                    display: none;
                }

                p {
                    span {
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }

        .footer-section-two {
            display: flex;
            justify-content: space-between;
            margin: 0px 8%;

            .footerLogo {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        .navbar {
            .firstList {
                padding: 0px 6% 0px 6%;
            }

            .secondList {
                padding: 0px 6% 0px 6%;
            }
        }
    }

    .footer {
        .footer-section-one {
            flex-direction: row;
            max-width: 100%;
            justify-content: center;
            gap: 0px 3%;

            ul {
                margin: 0px 0%;
                max-width: 150px;
            }

            .last-footer-section{
                max-width: 150px;

                img {
                    margin: auto;
                    display: block;
                    max-width: 50%;
                }

                p {
                    text-align: center;
                }
            }
        }

        .footer-section-two {
            display: flex;
            justify-content: space-between;
            margin: 0px 8%;

            .footerLogo {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        .footer-section-one {

            ul {
                width: 240px;
                max-width: 240px;
            }

            .last-footer-section{
                width: 240px;
                max-width: 240px;
            }
        }
    }
}