* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}


@media (min-width: 0px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        border: #FF343F;
        border-bottom: solid;
        border-color: #bcbcbc;

        .navbar {
            height: 5%;
            width: 100%;
            margin: 0 0 0 0;
            padding: 10px 5px 10px 5px;
            background: black;

            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                margin: 0 0 0 0;
                padding: 5px 10px 5px 10px;

                li {
                    list-style: none;
                }

                .firstList {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 10px;
                    width: 100%;

                    img {
                        max-width: 10%;
                    }

                    input {
                        outline: none;
                        border: none;
                        border-radius: 15px;
                        padding: 7px 18px 7px 18px;
                        color: #ffffff;
                        background-color: #515151;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                    }

                    input::placeholder {
                        color: #bcbcbc;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                    }
                }

                .secondList {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    gap: 20px;

                    img {
                        width: 25px;
                        height: 25px;
                    }

                    button {
                        outline: none;
                        border: none;
                        border-radius: 15px;
                        padding: 7px 20px 7px 20px;
                        color: #ffffff;
                        background-color: #FF343F;
                        cursor: pointer;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                    }
                }
            }
        }

        .sectionHeader {
            width: 100%;
            text-align: center;
            padding: 3em 0;
        }
    }

    .main {
        padding: 50px 0 50px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-bottom: solid;
        border-color: #bcbcbc;

        .mainType {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 20px 10px 20px;
            border: #000000;
            border-style: solid;
            border-width: 2px;
            box-shadow: 5px 10px #dcdcdc;
            border-radius: 20px;
            max-width: 250px;

            .content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                img {
                    width:100px;
                    height: 100px;
                }

                p {
                    text-align: center;
                    border-radius: 10px;
                    padding: 10px 10px;
                    color: #ffffff;
                    background-color: #515151;
                }
            }

            p {
                color: #515151;
                font-weight: 700;
                padding: -5px 0px;
            }
        }
    }

    .footer {
        margin: 50px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .footerSectionOne {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-bottom: solid;
            border-color: #bcbcbc;
            padding-bottom: 50px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    list-style: none;
                }

                .mainFooterSectionList {
                    font-size: 20px;
                    font-weight: 1000;
                }
            }

            .lastFooterSection {
                text-align: center;

                img {
                    display: none;
                }

                p {
                    span {
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }

        .footerSectionTwo {
            display: flex;
            justify-content: space-between;
            margin: 0px 40px;

            .footerLogo {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        .navbar {
            .firstList {
                padding: 0px 6% 0px 6%;
            }

            .secondList {
                padding: 0px 6% 0px 6%;
            }
        }
    }

    .footer {
        margin: 50px 0px 20px 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .footer-section-one {
            display: flex;
            flex-direction: column;
            gap: 20px;
            border-bottom: solid;
            border-color: #bcbcbc;
            padding-bottom: 50px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 0px 8%;

                li {
                    list-style: none;
                }

                .main-footer-section-list {
                    font-size: 20px;
                    font-weight: 1000;
                }
            }

            .last-footer-section {
                margin-top: 10px;
                text-align: center;

                img {
                    display: none;
                }

                p {
                    span {
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }

        .footer-section-two {
            display: flex;
            justify-content: space-between;
            margin: 0px 8%;

            .footerLogo {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 768px) {
    .header {
        .navbar {
            .firstList {
                padding: 0px 6% 0px 6%;
            }

            .secondList {
                padding: 0px 6% 0px 6%;
            }
        }
    }

    .footer {
        .footer-section-one {
            flex-direction: row;
            max-width: 100%;
            justify-content: center;
            gap: 0px 3%;

            ul {
                margin: 0px 0%;
                max-width: 150px;
            }

            .last-footer-section{
                max-width: 150px;

                img {
                    margin: auto;
                    display: block;
                    max-width: 50%;
                }

                p {
                    text-align: center;
                }
            }
        }

        .footer-section-two {
            display: flex;
            justify-content: space-between;
            margin: 0px 8%;

            .footerLogo {
                display: flex;
                gap: 10px;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media (min-width: 1200px) {
    .footer {
        .footer-section-one {

            ul {
                width: 240px;
                max-width: 240px;
            }

            .last-footer-section{
                width: 240px;
                max-width: 240px;
            }
        }
    }
}